@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';

.box-grey {
    width: 300px;
    height: 300px;
    background-color: grey;
    opacity: 0.5;
    border-radius: 15px;
    margin: 25px auto;
    animation: skeleton-animation linear 1s infinite alternate;
}

@keyframes skeleton-animation {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}